.todo-section{
    
}

.todo-section label{
    margin: 5px;
}

.edit-main input{
    margin: 5px;
    padding: 5px;
}
.check-btn{
    margin: 10px 20px 10px;
    height: 15px;
    width: 15px;
    align-self: center;
    cursor: pointer;
}
.update-button{
    width: auto;
    max-width: 100%;
    margin:20px 10px 0px;
    border-radius: 20px;
  padding: 5px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(170, 232, 238);
  color: black;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}
.edit-title{
    color: rgb(94, 105, 120);
    margin-bottom: 30px;
}
